// Colors
$dark-blue: #204051;
$blue: #3b6978;
$sea-blue:#84a9ac;
$light-blue: #cae8d5;
$off-white: #fcf8f3;

// Font size
$font-size-large: 3.2rem;
$font-size-medium: 2.5rem;
$font-size-small: 2rem;


// Spacing -> m for 1.6, l for 3.2, xl for 4.8 rem

$s-size: 1.6rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Circle - size
$mh: 23rem;
$mw: 23rem;  
$sh: 20rem;
$sw: 20rem;